<!--Card with footer and header-->
<div *ngIf="isOk; else error" class="card text-center">
  <div class="card-header">
    Datos del Jugador
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <form #formularioLogin="ngForm" (ngSubmit)="DarDeAlta(formularioLogin)">
      <div class="box-div">
        <h4>Nombre del jugador</h4>
        <div class="text-box-image">
          <input class="form-control text-box-login" ngModel type="text" name="name"
                 placeholder="Nombre completo">
        </div>
        <h4>Posicion</h4>
        <div class="text-box-image">
          <input class="form-control text-box-login" ngModel type="text" name="position"
                 placeholder="Posicion" >
        </div>
        <br>
        <div  >
          <h4>Imagen:</h4>
          <select ngModel name="optbox">
            <optgroup label="Imagenes Disponbles">
              <option *ngFor="let path of this.pathsFotos" value="{{path}}" (click)="MarcarSelected(path)">
                Imagen {{pathsFotos.indexOf(path)}}
              </option>
            </optgroup>
          </select>
        </div>
        <br>
        <button class="btn btn-primary btn-lg login-btn" type="submit">Agregar Jugador</button>
      </div>
    </form>
  </div>
  <div class="card-footer text-muted">
    AUF Selección Uruguaya.
  </div>
</div>

<ng-template #error>
  <div class="error-msg">
  <div class="container-fluid">
    <h4 class="erro-txt">Error Lista llena !!!</h4>
    <button class="btn btn-danger btn-error" (click)="TryAgain()" >Volver</button>
  </div>
  </div>
</ng-template>
