<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <img src="assets/auf.png" class="ico">
    <a class="navbar-brand">AUF</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active item-nav" aria-current="page" routerLink="/home">Jugadores</a>
        <a class="nav-link active item-nav" routerLink="/altas" >Altas</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
